{% extends '_layout/layout.html.twig' %}

{% block title %}
    {% if page.title is defined and page.title is not empty %}
        {{ page.title ~ " - " ~ site.title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ site.assets ~ '/css/timer.css" rel="stylesheet' }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ site.assets ~ '/js/timer.js' }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <h4>Historia czasów:<h4>
                <div id="time-history"></div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="box">
               <div id="time">00:00.000</div>
               <div id="scramble"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <h4>Statystyki:<h4>
                <div id="solve-stats"></div>
            </div>
        </div>
    </div>
{% endblock %}